<header class="m-1 navbar navbar-inverse bg-dark text-primary">
  <div class="p-3 d-inline-block sign_up_navbar">
    <span class="p-3 nav_color"><%= render 'devise/menu/registration_items'%></span>
    <span class="p-3 nav_color"><%= render 'devise/menu/login_items' %></span>
  </div>
</header>
