<div class="d-inline-block navbar float-right">
  <% if user_signed_in? %>
      <%= link_to('Change username And Password', edit_user_registration_path) %>
  <% else %>
      <%= link_to('Sign_Up', new_user_registration_path)  %>
  <% end %>
</div>
