
<%= form_with scope: :comment, url: user_post_comments_path(user_id: user_id, post_id: post_id), class:"col-sm-12 form_container", local: true do |form| %>
  <p>
    <%= form.label :Comment %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
