<!-- <div class="jumbotron">
  <div class="container">
    <p>
      <%= link_to 'Add new comment', new_user_post_comment_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
  <%= render @comments %>
</div> -->
