<% posts.each do |post| %>
    <%= render partial: 'post_card', locals: { post: post } %>
      <% if current_user.admin? || post.user_id == @user.id %>
        <div class="delete m-3 p-3">
          <%= link_to "Delete Post", user_post_path(@user, post), data: { confirm: "Are you sure?" }, method: :delete %>
        </div>
      <% end %>
<% end %>
