<span class="text-primary unlike" data-id="<%= current_user.id %>" post-id="<%= comment.id %>" data-type="Comment" remote=true>
  <span><%= comment.likes.count %></span>
  <i class="fa fa-thumbs-down text-primary" style="font-size:20px;color:black" ></i>
  <span class="unlikelable">Unlike</span>
</span>
