<span class="text-dark unlike" data-id="<%= current_user.id %>" post-id="<%= post.id %>" data-type="Post" remote=true>
  <span><%= post.likes.count %></span>
  <i class="fa fa-thumbs-down" style="font-size:20px;color:black" ></i>
  <span class="unlikelable">Unlike</span>
</span>
