# database configuaration
development:
  adapter: postgresql
  database: Blogger_App
  username: Blogger_App
  password: blogger
  encoding: unicode
  host: localhost
  pool: 5
test:
  adapter: postgresql
  database: Blogger_App
  username: blogger
  password: blogger
  encoding: unicode
  host: localhost
  pool: 5


# git push origin user-login_items
#
# git push origin :user-lopgiomn
