development:
  adapter: postgresql
  database: Blogger_App
  username: blogger
  password: blogger
  encoding: unicode
  host: localhost
  pool: 5
test:
  adapter: postgresql
  database: Blogger_App
  username: blogger
  password: blogger
  encoding: unicode
  host: localhost
  pool: 5
