// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentbox {
  background-color:rgba(0, 0, 0, 0.1);
  height: 8%;
  autofocus:"autofocus";
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.replybox{
  background-color:rgba(0, 0, 0, 0.1);
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.commentbox > p {font-size: 24px;}

#button {
  display: none;
}

#replybutton {
  display: none;
}

.form_container {
  padding: 0 !important;
  margin: 0 !important;
}

.commentbox_container {

}

.replyimage {
  width: 5%;
  height: 5%;
}
