// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    .newpost {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    input[type="submit"] {
      // background-color: #333333;
      border: none;
      color: white;
      // padding: 3px 3px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    input[type="checkbox"] {
      outline: none;
      height: 20px !important;
      border: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }

    .image {
      width: 50%;
      height: 40%;
      border-radius: 20%;
      align-items: center;
    }

    .commentimage {
      width: 12%;
      height: 12%;
    }

    .commentlink {
      text-decoration: none !important;
    }

    .logoimage {
      width: 5%;
      height: 5%;
    }

    .post_card_container {
      background-color: rgb(247, 249, 249);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .postlikecontainer {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin: 0 !important;
      padding: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .verticaly {
      // display: flex !important;
      // flex-direction: row-reverse !important;
    }

    .dot {
      width: 10%;
      height: 10%;
    }

    // .unlike {
    //   display: none;
    // }
