// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    .post-form{
      display: flex;
      width: 50%;
      flex-direction: column;
      margin: 20px auto;
    }
    .form-group{
      display: flex;
      justify-content: space-between;
      margin: 5px 0px;
      align-items: center;
    }

    input[type="submit"]{
      background-color: #333333;
      border: none;
      color: white;
      // padding: 3px 3px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

    .form_container {
      margin: 2px;
      border: 10px;
      padding: 2px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .table_container {
       margin-left: 70px;
    }
    .row_container {
      margin: 5px;
      border: 10px;
      padding: 2px;
    }

    .delete {
      height: 30px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
