// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign_up_container {
  color: grey;
  padding: 40px;
  margin-top: 70px;
  width: 250px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.namefield {
   padding: 0px;
   margin: 0px;
   width: 49%;
}

.form-group input {
  background: none;
  font-size: 1.0rem;
  border-width: 0;
  border-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 1.9;
  width: 100%;
  box-shadow: none;

}

.form-group input:focus {
  box-shadow: none;
}



// .first_name {
//
//   // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// }

// .last_name {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// }
