// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign_up_container {
  color: grey;
  padding: 40px;
  margin-top: 70px;
  width: 250px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.namefield {
   padding: 0px;
   margin: 0px;
   width: 49%;
}

.form-group input {
  background: none;
  font-size: 1.0rem;
  border-width: 0;
  border-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 1.9;
  width: 100%;
  box-shadow: none;

}

.form-group input:focus {
  box-shadow: none;
}

.ban_container {
  width: 50%;
  margin-top: 100px;
}

.ban_period {
  background: none;
  font-size: 1.0rem;
  border-width: 1;
  border-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 1.9;
  width: 100%;
  box-shadow: none;
}

.ban_label {
  font-size: 1.2rem;
  color: grey;
}
.dropdown-menu {
    border: none !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.main_container {
  display: flex;
  flex-direction: row;
}

.profile_container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.post_container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.main_post_container {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  padding: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.profile {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.follow {
  display: flex;
  flex-direction: row;
}

.allfeed {
  color: white;
}

.logoutimage {
  width: 30%;
  height: 30%;
  border-radius: 50%
}

.post {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
